@media screen and (max-width: 599px) {
    * {
        font-family: 'Josefin Sans', sans-serif;
        margin: 0;
    }

    body {
        width: 100%;
        margin: auto;
        background-color: hsl(330, 50%, 99%);
    }

    header img{
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    picture img {
        width: 100%;
        display: block;
        margin:auto;
    }

    #header {
        margin-top: 35px;
        margin-left: 25px;
        margin-bottom: 35px;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    h1 {
        width: 240px;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 25px;
        color: hsl(0, 6%, 24%);
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 10px; /*README: Learnt about letter spacing property.*/
    }

    span{
        color: hsl(0, 36%, 70%);
        font-weight: 300;
    }

    #text {
        width: 340px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
        margin: auto;
        color: hsl(0, 36%, 70%);
        line-height: 1.5;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 25px;
    }

    form {
        width: 340px;
        margin: auto;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 70% 10% 20%;
    }

    input[type=email] {
        height: 50px;
        width: 120%;
        border: 1px solid hsl(0, 36%, 70%);
        border-right: none;
        border-radius: 50px 0px 0px 50px;
        padding-left: 25px;
    }

    input[type=email]:focus {
        border: 2px solid hsl(0, 36%, 70%);
        /*remove blue highlight!!!*/
    }

    form div {
      display: grid;
      justify-content: center;
    }

    form img {
      display: none;
    }

    input[type=image] {
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        padding: 17px 32px;
        border-radius: 50px;
        /*margin-left: 10px;*/
        box-shadow: -2.5px 2.5px 10px 0px hsl(0, 6%, 50%);
    }

    input[type=image]:hover {
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 93%, 68%));
        cursor: pointer;
    }

    #main #error-message {
        color: hsl(0, 93%, 68%); /*README: CSS Selectors have a hierachy regardless of the sequence*/
        text-align: left;
        padding-left: 25px;
        margin-top: 5px;
        font-size: small;
    }

    #main > div {
      height: 14px;
      width: 340px;
      margin: auto;
      margin-bottom: 30px;
    }

    #portrait-image {
        width: 100%;
        display: block;
        margin: auto;
    }

    footer > p {
        font-size: small;
        text-align: center;
        color: hsl(0, 6%, 24%);
    }

    a {
        text-decoration: none;
        color:hsl(0, 93%, 68%);
    }

    a:visited {
        text-decoration: none;
        color:hsl(0, 93%, 68%);
    }
}
