@media screen and (min-width: 992px) {
    * {
        font-family: 'Josefin Sans', sans-serif;
    }

    html {
        height: 100%;
        display: flex;
    }

    body {
        width: 960px;
        margin: auto;
    }

    main {
        display: grid;
        background-color:hsl(330, 50%, 99%);
    }

    header {
        width: 560px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    header img {
        margin-top: 60px;
        margin-left: 60px;
    }

    picture {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 6;
    }

    picture img {
        width: 400px;
        display: block;
    }

    h1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        width: 240px;
        margin-left: 60px;
        margin-top: 30px;
        font-size: 42px;
        color: hsl(0, 6%, 24%);
        line-height: 1.2;
        font-kerning: auto;
        font-weight: 600;
    }

    span {
        font-weight: 300;
        color: hsl(0, 36%, 70%);
    }

    #text {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left: 60px;
        margin-top: -30px;
        font-size: 16px;
        width: 430px;
        color: hsl(0, 36%, 70%);
        line-height: 1.2;
    }

    form {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-left: 60px;
    }

    input[type=email] {
        height: 50px;
        width: 420px;
        border: 1px solid hsl(0, 36%, 70%);
        border-right: none;
        border-radius: 25px 0px 0px 25px;
        padding-left: 25px;
    }

    input[type=email]:focus {
        border: 2px solid hsl(0, 36%, 70%);
    }

    form img {
        margin-right: 20px;
        margin-left: -100px;
        /*display: none;*/
    }

    input[type=image] {
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        padding: 18px 36px;
        border-radius: 50px;
        box-shadow: -2.5px 2.5px 10px 0px hsl(0, 6%, 50%); 
    }

    input[type=image]:hover {
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 93%, 68%));
        cursor: pointer;
    }

    #error-message {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
        text-align: left;
        margin-left: 85px;
        margin-top: 0;
        font-size: smaller;
        color: hsl(0, 93%, 68%);
        display: none;
    }

    footer > p {
        font-size: small;
        text-align: center;
        color:hsl(0, 6%, 24%);
    }

    a {
        text-decoration: none;
        color:hsl(0, 93%, 68%);
    }

    a:visited {
        text-decoration: none;
        color:hsl(0, 93%, 68%);
    }
}